.navbar{
    height: 75px;
    width: 95%;
    margin: auto;
    /* border: 1px solid rgb(22, 21, 21); */
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    position: sticky;
    top: 10px;
    left: 10px;
    
}
#logo{
    height: 70%;
    width: 10%;
    /* border: 1px solid red; */
   margin-left: 10px;
}
#logo>svg{
    height: 150%;

}
.allothers{
    height: 100%;
    width: 30%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.allothers>div{
    height: 50%;
    width: 25%;
    /* border: 1px solid red; */
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;

}

/* #maindiv{
    border: 1px solid red;
    height: auto;
    width: 90%;
    margin: auto;
    

} */
a{
    color: white;
    text-decoration: none;
}
#pictures{
    height:700px ;
    width:85% ;
    border: 1px solid black;
    margin: auto;
    display:grid;
    margin-top: 20px;
    

}
#pictures>img{
    height: 100%;
    width: 100%;
}
