*{
    margin: 0px;
    padding: 0px;
}


.navbar{
    height: 80px;
    width: 95%;
    margin: auto;
    /* border: 1px solid rgb(22, 21, 21); */
    background-color: white;
    
    display: flex;
    justify-content: space-between;
   
    
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    position: sticky;
    top: 10px;
    left: 10px;
    
}
#logo{
    height: 70%;
    width: 10%;
    /* border: 1px solid red; */
   margin-left: 10px;
}
#logo>svg{
    height: 150%;
   

}
.allothers{
    height: 80px;
    width: 30%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.allothers>div{
    height: 60%;
    width: 25%;
    /* border: 1px solid red; */
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;

}
#panel{
    width: 500px;
    /* border: 1px solid green ; */
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
#panel>div{
    height: 100%;
    width:120px ;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    

    
    
}
.mens,.womens{
    background-color: gray;
    
}

#panel>div:hover{
    transform: scale(1.02);
}
#panel p{
    color: black;
    font-family: sans-serif;
    font-weight:600;

}

a{
    color: white;
    text-decoration: none;
}
#panel>:nth-child(2) p{
    color: white;
}
#panel>:nth-child(3) p{
    color: white;
}
#filters{
    height: 50px;
    width: 95%;
    margin: auto;
    /* border: 1px solid rgb(22, 21, 21); */
    margin-top: 20px;
    position: static;
    top: 20px;
    left: 20px;

}
#random{
    height:auto;
    width: 90%;
    margin: auto;
    /* border: 1px solid rebeccapurple; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,1fr);
    gap: 20px;
    margin-top: 40px;
}
#random>div{
    
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
   
    
    
}
#random>div:hover{
    
    transform: scale(1.03);
    cursor: pointer;
 
  
}
#random>div>img{
    height: 80%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
}

#below{
    height: 20%;
    width: 100%;
    /* border:1px solid red ; */
    font-size: 18px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;


    
}
.pricetag{
    /* border: 1px solid black; */
    
    display: flex;
    font-size: 19px;
    
    
}

.huru{
   /* border: 1px solid red; */
   
   position: relative;
  
   font-family: sans-serif;
   
}
.text{
    height: 40px;
    width: 60%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 30px;
   display: flex;
   align-items: center;
    
    font-family: sans-serif;
    color:white;
    background-color: gray;
    border-radius: 8px;
    position: sticky;
    top: 100px;
    left: 5px;
}
.text>h2{
    margin-left: 15px;
}
#price{

    padding: 8px;
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: 600;
    border: 1.5px solid gray;
    border-radius: 8px;
}
#price>option{
font-family: sans-serif;
font-size: 15px;
font-family: sans-serif;
font-weight: 600;
border-radius: 4px;
}
.sub{
    height: 30px;
    width: 150px;
    /* border: 1px solid red; */
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
 color: white;
 font-size: 20px;
 border-radius: 7px;
 cursor: pointer;
 margin-bottom: 10px;


}